//font & weight
$ff-primary: "Poppins", sans-serif;
$ff-secondary: "Spectral", serif;
$fw-reg: 400;
$fw-med: 500;
$fw-sbold: 600;
$fw-bold: 700;
$fw-xbold: 800;

//font sizes 
$fs-15: 0.938rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-25: 1.563rem;
$fs-26: 1.625rem;
$fs-30: 1.875rem;
$fs-37: 2.313rem;
$fs-42: 2.625rem;
$fs-65: 4.063rem;
$fs-77: 4.813rem;
$fs-89: 5.563rem;
$fs-93: 5.813rem;

//colors
$clr-white: hsla(0, 0%, 100%, 1);
$clr-black: hsla(0, 0%, 15%, 1);
$clr-orange: hsla(35, 100%, 64%, 1);
$clr-red: hsla(20, 85%, 38%, 1);
$clr-white-blue: hsla(180, 43%, 96%, 1);
$clr-white-blue85: hsla(180, 43%, 96%, 0.85);
$clr-cian: hsla(180, 64%, 34%, 1);
$clr-gray: hsla(0, 0%, 84%, 1);


