@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../abstracts/media-queries';

//principal page footer

.conf-f{
    gap: 2.188rem;
    margin-top: 3.875rem;
    align-items: center;
    @include media-queries.respond-to(media-queries.$phone){
        margin-left: 5%;
        margin-top: 1.75rem;
        padding-top: 1.688rem;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        justify-content: center;
        margin-top: 17px;
        margin-bottom: 25px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        justify-content: center;
        margin-top: 26px;
        margin-bottom: 26px;
    }
    
    @include media-queries.respond-to(media-queries.$large-desktop){
        margin-top: 1.875rem;
        gap: 21px;
    }
}

//principal page footer

//footer

.f-principal{
    width: 100%;
    height: 10.063rem;
    background: vars.$clr-red;
    @include media-queries.respond-to(media-queries.$phone){
        height: 14.688rem;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        height: 12.063rem;
    }
    
    @include media-queries.respond-to(media-queries.$large-desktop){
        height: 6.063rem;
    }
}

.icons-footer{
    width: 2.438rem;
    height: 2.438rem;
    color: vars.$clr-white-blue;
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        width: 30px;
        height: 30px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        width: 30px;
        height: 30px;
    }

    @include media-queries.respond-to(media-queries.$large-desktop){
        width: 29px;
        height: 29px;
    }
}

.icons-footer:hover{
    color: vars.$clr-orange;
    animation: moveBtn 3s;
    @include media-queries.respond-to(media-queries.$phone){
        animation: moveBtn 0s;
    }
    @include media-queries.respond-to(media-queries.$tablet-portrait){
        animation: moveBtn 0s;
    }
}

.icons-rs{
    gap:2.188rem;
    align-items: center;
    display: flex;
    @include media-queries.respond-to(media-queries.$phone){
        width: 100%;
        gap: 10%;
        margin-bottom: 2.375rem;
        justify-content: center;
    }
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        width: 50%;
        gap: 10%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    @include media-queries.respond-to(media-queries.$tablet-portrait){
        width: 50%;
        gap: 10%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    @include media-queries.respond-to(media-queries.$large-desktop){
        gap: 21px;
    }
}

.icons-frs{
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        justify-content: start !important;
    }
    @include media-queries.respond-to(media-queries.$tablet-portrait){
    }
}

.jc-tl{
    @include media-queries.respond-to(media-queries.$tablet-landscape){
        justify-content: end !important;
    }
}

.footer-icons{
    margin-right: 2.188rem;
    @include media-queries.respond-to(media-queries.$large-desktop){
        margin-right: 21px;
    }
    @include media-queries.respond-to(media-queries.$tablet-portrait){
        margin-right: auto;
    }
}

.m-footer{
    margin-top: 35px;
    margin-bottom: 19px;
    @include media-queries.respond-to(media-queries.$large-desktop){
        margin-top: 16px;
        margin-bottom: 12px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin-top: 38px;
        margin-bottom: 0px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        margin-top: 30px;
        padding-top: 2px;
    }

    @include media-queries.respond-to(media-queries.$phone){
        padding-top: 25px;
    }
}

.fixed-footer{
    position: fixed;
    left: 0;
    bottom: 0;
}

//footer

//icons footer animations

@keyframes moveBtn{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}
