@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../abstracts/media-queries';

//Categories

.menu-options{
    justify-content: center;
    @include media-queries.respond-to(media-queries.$phone){
        margin-top: 30px;
    }
    @include media-queries.respond-to(media-queries.$tablet-portrait){
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
}

.menu-gap{
    gap: 51px;
    @include media-queries.respond-to(media-queries.$large-desktop){
        gap: 37px;
    }
}

.custom-menu{
    margin-left: -526px;
    margin-top: 32px !important;
    width: 1728px;
    height: 300px;
    border: none;
    border-radius: 0 0 25px 25px;
    background: vars.$clr-white-blue;
    box-shadow: 0px 4px 6px 2px hsla(0, 0%, 0%, 0.15);
    @include media-queries.respond-to(media-queries.$phone){
        margin-left: -11.2%;
        width: 122.8%;
        height: auto;
        margin-top: 15px !important;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        width: 754px;
        margin-top: 22px !important;
        height: auto;
        margin-left: -178px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        margin-left: 91px;
        margin-right: 91px;
        width: 302px;
        height: auto;
        margin-top: 15px !important;
    }

    @include media-queries.respond-to(media-queries.$large-desktop){
        margin-left: -370px;
        margin-top: 24px !important;
        width: 1229px;
        height: 209px;
    }
}

.h-transparent{
    @include media-queries.respond-to(media-queries.$phone){
        height: 26px;
    }
    @include media-queries.respond-to(media-queries.$tablet-portrait){
        height: 26px;
    }
}

//categories

//user

.custom-user{
    margin-left: -170px;
    margin-top: 21px !important;
    width: 372px;
    height: 192px;
    border: none;
    border-radius: 0 0 25px 25px;
    background: vars.$clr-white-blue;
    box-shadow: 0px 4px 6px 2px hsla(0, 0%, 0%, 0.25);

    @include media-queries.respond-to(media-queries.$large-desktop){
        margin-top: 17px !important;
    }

    @include media-queries.respond-to(media-queries.$phone){
        margin-left: -93px;
        width: 351px;
        border-radius: 25px 25px 25px 25px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin-left: -98px;
        margin-top: 10px !important;
        border-radius: 25px 25px 25px 25px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        margin-left: -104px;
        margin-top: 10px !important;
        border-radius: 25px 25px 25px 25px;
    }
}

//user

.navbar-h{
    background-color: vars.$clr-red;
    height: 5.938rem;
    padding-top: 0;
    @include media-queries.respond-to(media-queries.$phone){
        display: block;
        height: 45rem;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        height: auto;
        padding-top: 5px;
        padding-bottom: 25px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        height: auto;
        padding-top: 5px;
        padding-bottom: 25px;
    }

    @include media-queries.respond-to(media-queries.$large-desktop){
        height: 72px;
    }
}

.pos-icon{
    line-height: 0.75rem;
    margin-top: 0.813rem;
    @include media-queries.respond-to(media-queries.$phone){
        line-height: 18px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin-top: 32px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        margin-top: 32px;
        margin-bottom: 30px;
    }

    @include media-queries.respond-to(media-queries.$large-desktop){
        line-height: 1rem;
    }
}

.b-icon{
    @include mixins.set-font(vars.$ff-primary, vars.$fw-med, vars.$fs-42, vars.$clr-white);
    text-decoration: none;
    @include media-queries.respond-to(media-queries.$large-desktop){
        font-size: 32px;
    }
}

.r-icon{
    @include mixins.set-font(vars.$ff-secondary, vars.$fw-sbold, vars.$fs-20, vars.$clr-white);
    @include media-queries.respond-to(media-queries.$large-desktop){
        font-size: 19px;
        font-weight: vars.$fw-reg;
    }
}

.user-icon{
    width: 3.438rem;
    border-radius: 1.75rem;
    margin-top: 7px;
    margin-left: -0.313rem;
    @include media-queries.respond-to(media-queries.$phone){
        height: 3.438rem;
    }
    @include media-queries.respond-to(media-queries.$large-desktop){
        width: 38px;
        height: 38px;
    }
}

.user-r{
    @include media-queries.respond-to(media-queries.$phone){
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        justify-content: center;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        justify-content: center;
        align-items: center;
    }
}

.m-res{
    @include media-queries.respond-to(media-queries.$phone){
        display: block !important;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        display: block !important;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        display: block !important;
    }
}

.m-options{
    display: flex;
    gap: 3.688rem;

    @include media-queries.respond-to(media-queries.$phone){
        display: block;
        margin-left: auto;
        margin-right: auto;
        gap: 0;
        margin-bottom: 20px;
    }

    @include media-queries.respond-to(media-queries.$large-desktop){
        gap: 25px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 27px;
        align-items: center;
        justify-content: center;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        display: block;
        margin-left: 0px;
        margin-bottom: 27px;
        margin-bottom: 20px;
    }
}

.m-form{
    margin-top: 8px;
    margin-left: 4.125rem;
    @include media-queries.respond-to(media-queries.$phone){
        width: 100%;
        margin-left: 0;
        margin-top: 28px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        margin-left: 0px;
        justify-content: center;
        margin-bottom: 20px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        margin-left: 0px;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    @include media-queries.respond-to(media-queries.$large-desktop){
        margin-left: 25px;
    }
}

.section-se{
    @include media-queries.respond-to(media-queries.$phone){
        width: 95%;
        height: 0px;
        border: 1px solid vars.$clr-white-blue;
        border-radius: 10px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        width: 75%;
        height: 0px;
        border: 1px solid vars.$clr-white-blue;
        border-radius: 10px;
    }
}

.search-input{
    @include mixins.set-font(vars.$ff-primary, vars.$fw-reg, vars.$fs-20);
    width: 19.375rem;
    height: 2.125rem;
    background: vars.$clr-white-blue;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding-left: 0.625rem;
    @include media-queries.respond-to(media-queries.$phone){
        width: 74.57%;
        height: 34px;
        font-size: 16px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        width: 555px;
    }

    @include media-queries.respond-to(media-queries.$large-desktop){
        width: 190px;
        height: 28px;
        @include mixins.set-font(vars.$ff-primary, vars.$fw-reg, vars.$fs-15);
    }
}

.btn-sout{
    justify-content: end;
    padding-right: 22px;
}

//gallery

.pd-gallery{
    padding-left: 50px;
    padding-right: 50px;

    @include media-queries.respond-to(media-queries.$phone){
        padding-left: 0px;
        padding-right: 0px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        padding-left: 0px;
        padding-right: 0px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        padding-left: 0px;
        padding-right: 0px;
    }
}

.image-one{
    width: 470px;
    height: 305px;
    object-fit: cover;

    @include media-queries.respond-to(media-queries.$phone){
        width: 347px;
        height: 207px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        width: 347px;
        height: 207px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        width: 347px;
        height: 207px;
    }

    @include media-queries.respond-to(media-queries.$large-desktop){
        width: 350px;
        height: 227px;
    }
}

.one-box{
    width: 470px;
    height: 305px;
    margin: 10px;
    background: vars.$clr-white-blue;
    
    @include media-queries.respond-to(media-queries.$phone){
        width: 347px;
        height: 207px;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        width: 347px;
        height: 207px;
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        width: 347px;
        height: 207px;
    }

    @include media-queries.respond-to(media-queries.$large-desktop){
        width: 350px;
        height: 227px;
    }
}

.image-two{
    width: 347px;
    height: 207px;
    object-fit: cover;

    @include media-queries.respond-to(media-queries.$large-desktop){
        width: 258px;
        height: 154px;
    }
}

.two-box{
    width: 347px;
    height: 207px;
    margin: 10px;
    background: vars.$clr-white-blue;

    @include media-queries.respond-to(media-queries.$large-desktop){
        width: 258px;
        height: 154px;
    }
}

.btnc-gallery{
    background: vars.$clr-cian !important;
}

.btnc-gallery:hover{
    background: vars.$clr-red !important;
}

.hd-gallery{
    background: vars.$clr-red !important;
}

//gallery
